@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root{
    --color-blue: #05386B;
    --color-green: #5cdb95;
    --color-white: #edf5e1;
}

html, body{
    margin: 0;
    height: 100%;
    color: var(--color-blue);
    display: block;
    font-family: 'Russo One', sans-serif;
}


.nav-bar{
    margin: 0px;
    padding: 1px;
    background-color: var(--color-green);
    display: flex;
    
}

.nav-bar-mobile{
    display: none;
}

.nav-left{
    margin-left: 100px;
    color: #05386B;
    line-height: 10px;
    letter-spacing: 2px;
    font-family: 'Russo One', sans-serif;
}

.nav-center{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #05386B;
}

.nav-center1{
    margin-left: -70px;
    padding-top: 15px;
}

.nav-center1 a{
    margin-left: 20px;
    margin-top: 25px;
    color: #05386B;
    text-decoration: none;
}

.nav-center1 a:hover{
    text-decoration: underline;
} 

.nav-right{
    float: right;
    padding-top: 5px;
    margin-right: 160px;
}

/*-------------------------------------------------------------------------HEADER---------------------------------------------------------------------------------*/

.center{
    position: absolute;
    margin-left: 50%;
    top: 50%;
}

header{
    background-image: url('media/background.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    padding-top: 90px;
    background-position: bottom;
    background-color: #5cdb95;
}

.header{
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 80px;
    
}

.mobile-header{
    display: none;
}

.meimage{
    margin-left: 200px;
    margin-top: -10px;
    
}

.body{
    background-color: #edf5e1;
    color: black;
    padding-bottom: 50px;
    
}

.mobile-title{
    margin-top: -150px;
}


.body2{
    background-color: #50586C;
    color: black;
    padding-bottom: 50px;
}


/*----------------------------------------------------------------BOX----------------------------------------------------------------------------------------------------------*/
.boxes{
    display: flex; 
    width: 1200px; 
    margin: auto;
}
  

.box1{
    border: 1px solid #edf5e1;
    background-color: white;    
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);

}

.box1 a{
    text-decoration: none;
    color: #05386B;
}

.box2 a{
    text-decoration: none;
    color: #05386B;
}

.box3 a{
    text-decoration: none;
    color: #05386B;
}

.box2{
    border: 2px solid #edf5e1;
    margin-left: 120px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    border-radius: 25px 25px 25px 25px;
}

.box3{
    border: 2px solid #edf5e1;
    margin-left: 120px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    border-radius: 25px 25px 25px 25px;
}

.box1:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;
}

.box2:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;

}

.box3:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;

}

.text{
    margin-left: 10px;    
}

/*------------------------------------------------------------------------Section 2*--------------------------------------------*/

.body-section2{
    background-color: #5CDB95;
}

.content-section-2{
    width: 1200px;
    margin: auto;
    display: flex;
}

.section2-right{
    width: 600px;
    margin-left: 100px;
}


.section2-left img{
    width: 400px;
}

/*-----------------------------------------------------Contact FORM---------------------------------------------*/

.body-section5{
    background-color: var(--color-white);
    padding-bottom: 50px;
}

.contact-form{
    top: 0;
    width: 1200px;
    margin: auto;
    display: flex;
}

.footer-left{
    width: 450px;
    margin-left: 100px;
    margin-top: 40px;
}

.footer-right{
    margin-left: 100px;
}

.footer-right img{
    width: 500px;
}


.input-textarea {
    min-height: 120px;
    width: 70%;
    padding: 0.625rem;
    resize: vertical;
  }

  .submit-button {
    display: block;
    width: 74.3%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    color: var(--color-blue);
    font-family: monospace;
    font-size: 15px;
  }








html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #379683;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: #05386b;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: #05386b;
    border-radius: 10px;
  }



  @media (max-width: 1300px){
    .boxes{
      width: 1000px;
      margin: auto;
    }

    .box1{
        width: 250px;
        margin-top: 50px;
    }

    .box1 img{
        width: 250px;
    }

    .box2{
        width: 250px;
        margin-top: 50px;
    }

    .box2 img{
        width: 250px;
    }

    .box3{
        width: 250px;
        margin-top: 50px;
    }

    .box3 img{
        width: 250px;
    }

   .content-section-2{
       width: 1100px;
   }


   /*-----------------------------------About me----------------------------------------------*/



   .content-section-2{
    display: grid;
    width: 550px;
   }

   .section2-right{
       width: 550px;
       margin: 0;
   }

   .section2-left img{
       width: 500px;
   }

   
   /*-----------------------------------------CONTACT-------------------------------------------------------*/
   .contact-form{
    width: 500px;
    display: grid;
    margin: auto;
}
    .footer-left{
        width: 500px;
        margin-left: 50px;
    }

    .footer-right{
        width: 500px;
        margin-left: 0px;
    }

    .footer-right img{
        width: 500px;
    }


}


@media (max-width: 1050px){
    .boxes{
      width: 850px;
      margin: auto;
    }

    .box1{
        width: 200px;
        margin-top: 50px;
    }

    .box1 img{
        width: 200px;
    }

    .box2{
        width: 200px;
        margin-top: 50px;
    }

    .box2 img{
        width: 200px;
    }

    .box3{
        width: 200px;
        margin-top: 50px;
    }

    .box3 img{
        width: 200px;
    }

    /*-----------------------------------------CONTACT-------------------------------------------------------*/
    .contact-form{
        width: 400px;
        display: grid;
        margin: auto;
    }
        .footer-left{
            width: 400px;
            margin-left: 50px;
        }
    
        .footer-right{
            width: 400px;
            margin-left: 0px;
        }
    
        .footer-right img{
            width: 400px;
        }




        .section2-left img{
            width: 400px;
        }


}


  @media (max-width: 900px){
      .boxes{
        display: grid; 
        width: 300px;
        margin: auto;
      }

      .box1{
          width: 300px;
      }

      .box1 img{
          width: 300px;
      }

      .box2{
          margin-left: 0px;
          width: 300px;
          margin-top: 50px;
      }

      .box2 img{
        width: 300px;
    }

      .box3{
          margin-left: 0;
          width: 300px;
          margin-top: 50px;
      }

      .box3 img{
        width: 300px;
    }

       /*-----------------------------------About me----------------------------------------------*/



   .content-section-2{
    display: grid;
    width: 340px;
    margin: auto;
   }

   .section2-right{
       width: 340px;
       margin: auto;
   }

   .section2-left img{
       width: 350px;
       margin: auto;
   }


      /*-----------------------------------------CONTACT-------------------------------------------------------*/
      .contact-form{
        top: 0;
        width: 300px;
        margin: auto;
        display: grid;
    }
    
    .footer-left{
        width: 300px;
        margin: auto;
        margin-top: 40px;
        margin-left: 40px;
    }
    
    .footer-right{
        width: 300px;
    }
    
    .footer-right img{
        width: 300px;
    }
    
    
    .input-textarea {
        min-height: 120px;
        width: 70%;
        padding: 0.625rem;
        resize: vertical;
      }
    
      .submit-button {
        display: block;
        width: 74.3%;
        padding: 0.75rem;
        background: var(--color-green);
        color: inherit;
        border-radius: 2px;
        cursor: pointer;
        color: var(--color-blue);
        font-family: monospace;
        font-size: 15px;
      }




  }




  @media (max-width: 1300px){
    .header{
        display: flex;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 80px;
        
    }
    .meimage{
        margin-left: 100px;
        margin-top: -10px;
        
    }
  }



@media (max-width: 1000px){
	.nav-bar{
        display: none;
    }
    .header{
        display: none;
    }

    .mobile-header{
        display: block;
    }

    .mobile-title{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-bar-mobile{
        display: block;
    }

    header{
        background-image: url('media/background.svg');
        background-repeat: no-repeat;
        background-size: 80%;
        padding-top: 90px;
        background-position: bottom;
        background-color: #5cdb95;
    }

    .mobile-title{
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}