@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root{
    --color-blue: #05386B;
    --color-green: #5cdb95;
    --color-white: #edf5e1;
}

html, body{
    margin: 0;
    height: 100%;
    color: var(--color-blue);
    display: block;
    font-family: 'Russo One', sans-serif;
    scroll-behavior: smooth;
}

/*---------------------------------------------------NAV-BAR------------------------------------------------------------------------------------*/
.nav-bar{
    margin: 0px;
    padding: 1px;
    background-color: var(--color-green);
    display: flex;
}

.nav-bar-mobile{
    display: none;
}

.nav-left{
    margin-left: 100px;
    color: #05386B;
    line-height: 10px;
    letter-spacing: 2px;
    font-family: 'Russo One', sans-serif;
}

.nav-center{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #05386B;
}

.nav-center1{
    margin-left: -70px;
    padding-top: 15px;
}

.nav-center1 a{
    margin-left: 20px;
    margin-top: 25px;
    color: #05386B;
    text-decoration: none;
}

.nav-center1 a:hover{
    text-decoration: underline;
} 

.nav-right{
    float: right;
    padding-top: 5px;
    margin-right: 160px;
}

/*-------------------------------------------------------------------------HEADER---------------------------------------------------------------------------------*/
.center{
    position: absolute;
    margin-left: 50%;
    top: 50%;
}

header{
    background-image: url('media/background.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    padding-top: 90px;
    background-position: bottom;
    background-color: var(--color-green);
}

.header{
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 80px;
    
}

.mobile-header{
    display: none;
}

.meimage{
    margin-left: 200px;
    margin-top: -10px;
    
}

.meimage img{
    width: 500px;
}

.body{
    background-color: var(--color-white);
    color: black;
    padding-bottom: 50px;
    
}

.mobile-title{
    margin-top: -150px;
}

.body2{
    background-color: #50586C;
    color: black;
    padding-bottom: 50px;
}

/*----------------------------------------------------------------BOXES---------------------------------------------------------------------------------*/
.boxes{
    display: flex; 
    width: 1200px; 
    margin: auto;
}

.box1{
    border: 1px solid #edf5e1;
    background-color: white;    
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box1 a{
    text-decoration: none;
    color: #05386B;
}

.box2 a{
    text-decoration: none;
    color: #05386B;
}

.box3 a{
    text-decoration: none;
    color: #05386B;
}

.box2{
    border: 2px solid #edf5e1;
    margin-left: 120px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    border-radius: 25px 25px 25px 25px;
    transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box3{
    border: 2px solid #edf5e1;
    margin-left: 120px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    border-radius: 25px 25px 25px 25px;
    transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box1:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;
}

.box2:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;
}

.box3:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;
}

.text{
    margin-left: 10px;    
}

.text h1{
    width: 280px;
}

/*-------------------------------------------------------ABOUT ME SECTION-------------------------------------------------------------*/
.body-section2{
    background-color: #5CDB95;
}

.content-section-2{
    width: 1200px;
    margin: auto;
    display: flex;
}

.section2-right{
    width: 600px;
    margin-left: 100px;
}

.section2-left img{
    width: 400px;
}

/*-----------------------------------------------------CONTACT FORM---------------------------------------------*/
.body-section5{
    background-color: var(--color-white);
    padding-bottom: 50px;
}

.contact-form{
    top: 0;
    width: 1200px;
    margin: auto;
    display: flex;
}

#fname{
    width: 70%;
    height: 30px;
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

#fname:focus{
    height: 30px;
    border: 2px solid var(--color-green);
    border-radius: 20px;
    outline: 0;
    box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
    -webkit-box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
    -moz-box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
}

::placeholder{
    color: var(--color-blue);
    opacity: 0.7;
}

#email{
    width: 70%;
    height: 30px;
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

#email:focus{
    height: 30px;
    border: 2px solid var(--color-green);
    border-radius: 20px;
    outline: 0;
    box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
    -webkit-box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
    -moz-box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
}

.footer-left{
    width: 450px;
    margin-left: 100px;
    margin-top: 50px;
}

.footer-left p{
    width: 350px;
}

.footer-right img{
    width: 650px;
    margin-top: -50px;
}

.input-textarea {
    min-height: 120px;
    width: 67%;
    padding: 0.625rem;
    resize: vertical;
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    transition: border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea:focus{
    height: 30px;
    border: 2px solid var(--color-green);
    border-radius: 20px;
    outline: 0;
    box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
    -webkit-box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
    -moz-box-shadow: -3px 9px 38px -1px rgba(5,56,107,0.66);
}

input, textarea{
    font-family: 'Della Respira', serif;
    font-size: 17px;
    color: var(--color-blue);
    padding-left: 10px;
}

.submit-button {
    display: block;
    width: 72%;
    padding: 0.55rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 20px;
    cursor: pointer;
    color: var(--color-blue);
    font-family: 'Della Respira', serif;
    font-size: 20px;
    transition: 0.5s;
}

.submit-button:hover{
    background-color: var(--color-blue);
    color: var(--color-green);
}

/*-----------------------------------------------SCROLL--------------------------------------------------------------*/
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 15px;
}

html::-webkit-scrollbar-thumb {
    background: #379683;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #05386b;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
    background: #05386b;
    border-radius: 10px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------MOBILE RESPONSIVE-----------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
  
@media (max-width: 1260px){
    .meimage{
        margin-left: 100px;
        margin-top: -10px;
        
    }

    .header{
        width: 900px;
    }

    .me{
        width: 300px;
        margin-left: 10px;
    }

    .boxes{
        width: 1000px;
        margin: auto;
    }
  
    .box1{
        width: 250px;
        margin-top: 50px;
    }
  
    .box1 img{
        width: 250px;
    }
  
    .box2{
        width: 250px;
        margin-top: 50px;
    }
  
    .box2 img{
        width: 250px;
    }
  
    .box3{
        width: 250px;
        margin-top: 50px;
    }
  
    .box3 img{
        width: 250px;
    }
  
    .content-section-2{
        width: 1100px;
    }

    .text h1{
        width: 250px;
    }
  
/*-------------------------------------------About me---------------------------------------------------*/
    .content-section-2{
        display: grid;
        width: 550px;
    }
  
    .section2-right{
         width: 550px;
         margin: 0;
    }
  
    .section2-left img{
        width: 500px;
    }
     
/*-----------------------------------------CONTACT-------------------------------------------------------*/
     .contact-form{
        width: 500px;
        display: grid;
        margin: auto;
    }

    .footer-left{
        width: 500px;
        margin-left: 50px;
    }
  
    .footer-right{
        width: 500px;
        margin-left: 0px;
    }
  
    .footer-right img{
        width: 500px;
    }
}


@media (max-width: 1150px){
/*------------------------------------------------NAV BAR-------------------------------------------------------------------*/
    .header{
        display: none;
    }

    .mobile-header{
        display: grid;
    }

    header{
        background: none;
        background-color: var(--color-green);
    }

    .mobile-title{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-title img{
        width: 500px;
    }



/*------------------------------------------------BOXES-------------------------------------------------------------------*/
    .boxes{
        width: 810px;
        margin: auto;
    }
  
    .box1{
        width: 200px;
        margin-top: 50px;
    }
  
    .box1 img{
        width: 200px;
    }
  
    .box2{
        width: 200px;
        margin-top: 50px;
        margin-left: 70px;
    }
  
    .box2 img{
        width: 200px;
    }
  
    .box3{
        width: 200px;
        margin-top: 50px;
        margin-left: 70px;
    }
  
    .box3 img{
        width: 200px;
    }
  
/*-----------------------------------------CONTACT-------------------------------------------------------*/
    .contact-form{
        width: 400px;
        display: grid;
        margin: auto;
    }
    .footer-left{
        width: 400px;
        margin-left: 50px;
    }
      
    .footer-right{
        width: 400px;
        margin-left: 0px;
    }
      
    .footer-right img{
    width: 400px;
    }
  
    .section2-left img{
        width: 400px;
    }
}


@media (max-width: 900px){
    .nav-bar{
        display: none;
    }
/*----------------------------------------------HEADER---------------------------------------------------------*/
    .mobile-title{
        width: 350px;
    }

    .mobile-title img{
        width: 350px;
    }
/*-------------------------------------------------BOXES------------------------------------------------------------*/
    .boxes{
        display: grid; 
        width: 300px;
        margin: auto;
    }

    .box1{
        width: 300px;
    }

    .box1 img{
        width: 300px;
    }

    .box2{
        margin-left: 0px;
        width: 300px;
        margin-top: 50px;
    }

    .box2 img{
        width: 300px;
    }

    .box3{
        margin-left: 0;
        width: 300px;
        margin-top: 50px;
    }

    .box3 img{
        width: 300px;
    }

    .text h1{
        width: 280px;
    }

/*-----------------------------------About me----------------------------------------------*/
   .content-section-2{
        display: grid;
        width: 340px;
        margin: auto;
   }

   .section2-right{
       width: 340px;
       margin: auto;
   }

   .section2-left img{
       width: 350px;
       margin: auto;
   }

/*-----------------------------------------CONTACT-------------------------------------------------------*/
    .contact-form{
        top: 0;
        width: 300px;
        margin: auto;
        display: grid;
    }
    
    .footer-left{
        width: 300px;
        margin: auto;
        margin-top: 40px;
        margin-left: 40px;
    }

    .footer-left p{
        width: 250px;
    }
    
    .footer-right{
        width: 300px;
        margin: auto;
    }
    
    .footer-right img{
        width: 350px;
        margin-left: -40px;
        margin-top: 1px;
    }
    
    .input-textarea {
        min-height: 120px;
        width: 67%;
        padding: 0.625rem;
        resize: vertical;
    }

    .submit-button {
        display: block;
        width: 74.3%;
        padding: 0.75rem;
        background: var(--color-green);
        color: inherit;
        border-radius: 20px;
        cursor: pointer;
        color: var(--color-blue);
        font-family: 'Della Respira', serif;
        font-size: 20px;
        transition: 0.5s;
    }
    
    .submit-button:hover{
        background-color: var(--color-blue);
        color: var(--color-green);
    }
  }

