@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root{
    --color-blue: #05386B;
    --color-green: #5cdb95;
    --color-white: #edf5e1;
}

html, body{
    margin: 0;
    height: 100%;
    color: #05386B;
    display: block;
    font-family: 'Russo One', sans-serif;
}


.nav-bar{
    margin: 0px;
    padding: 1px;
    background-color: #5cdb95;
    display: flex;
    
}

.nav-bar-mobile{
    display: none;
}

.nav-left{
    margin-left: 100px;
    color: #05386B;
    line-height: 10px;
    letter-spacing: 2px;
    font-family: 'Russo One', sans-serif;
}

.nav-center{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #05386B;
}

.nav-center1{
    margin-left: -70px;
    padding-top: 15px;
}

.nav-center1 a{
    margin-left: 20px;
    margin-top: 25px;
    color: #05386B;
    text-decoration: none;
}

.nav-right{
    float: right;
    padding-top: 5px;
    margin-right: 160px;
}

/*-------------------------HEADER--------------------------------------*/

.center{
    position: absolute;
    margin-left: 50%;
    top: 50%;
}

header{
    background-image: url('media/background.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    padding-top: 90px;
    background-position: bottom;
    background-color: #5cdb95;
}

.header{
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 80px;
    
}

.mobile-header{
    display: none;
}

.meimage{
    margin-left: 200px;
    margin-top: -10px;
    
}

.body{
    background-color: #edf5e1;
    color: black;
    padding-bottom: 50px;
    
}

.mobile-title{
    margin-top: -150px;
}


.body2{
    background-color: #50586C;
    color: black;
    padding-bottom: 50px;
}


/*------BOX------*/
.boxes{
    display: flex; 
    width: 1200px; 
    margin: auto;
}
  

.box1{
    border: 1px solid #edf5e1;
    background-color: white;    
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);

}

.box1 a{
    text-decoration: none;
    color: #05386B;
}

.box2 a{
    text-decoration: none;
    color: #05386B;
}

.box3 a{
    text-decoration: none;
    color: #05386B;
}

.box2{
    border: 2px solid #edf5e1;
    margin-left: 120px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    border-radius: 25px 25px 25px 25px;
}

.box3{
    border: 2px solid #edf5e1;
    margin-left: 120px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5); 
    box-shadow: 0px 4px 13px 2px rgba(5,56,107,0.5);
    border-radius: 25px 25px 25px 25px;
}

.box1:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;
}

.box2:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;

}

.box3:hover{
    -webkit-box-shadow: 0px 3px 15px 4px #5CDB95; 
    box-shadow: 0px 3px 15px 4px #5CDB95;

}

.text{
    margin-left: 10px;    
}

/*------------------------------------------------------------------------Section 2*--------------------------------------------*/

.body-section2{
    background-color: #5CDB95;
}

.content-section-2{
    width: 1200px;
    margin: auto;
    display: flex;
}

.section2-right{
    width: 600px;
    margin-left: 100px;
}

/*------------------------------------------------------------------------Section 3*--------------------------------------------*/

.body-section3{
    background-color: var(--color-white);
}

.content-section-3{
    width: 1200px;
    margin: auto;
    display: flex;
}

.section3-right{
    width: 600px;
    margin-left: 100px;
}


/*-----------------------------------------------------Section4_---------------------------------------------*/
.body-section4{
    background-color: #5CDB95;
}

.content-section-4{
    width: 1200px;
    margin: auto;
    display: flex;
}

.section4-right{
    width: 600px;
    margin-left: 100px;
}


/*-----------------------------------------------------Contact FORM---------------------------------------------*/

.body-section5{
    background-color: var(--color-white);
    padding-bottom: 50px;
}

.contact-form{
    top: 0;
    width: 1200px;
    margin: auto;
    display: flex;
}

.footer-right{
    width: 600px;
    margin: auto;
    margin-left: 300px;
}


.input-textarea {
    min-height: 120px;
    width: 70%;
    padding: 0.625rem;
    resize: vertical;
  }

  .submit-button {
    display: block;
    width: 74.3%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    color: var(--color-blue);
    font-family: monospace;
    font-size: 15px;
  }








html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #379683;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: #05386b;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: #05386b;
    border-radius: 10px;
  }


  @media (max-width: 1300px){
    .header{
        display: flex;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 80px;
        
    }
    .meimage{
        margin-left: 100px;
        margin-top: -10px;
        
    }
  }




@media (max-width: 1000px){
	.nav-bar{
        display: none;
    }
    .header{
        display: none;
    }

    .mobile-header{
        display: block;
    }

    .mobile-title{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-bar-mobile{
        display: block;
    }

    header{
        background-image: url('media/background.svg');
        background-repeat: no-repeat;
        background-size: 80%;
        padding-top: 90px;
        background-position: bottom;
        background-color: #5cdb95;
    }

    .mobile-title{
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }



}